<mat-toolbar>
    <mat-toolbar-row>
        <span class="span">About</span>
    </mat-toolbar-row>
</mat-toolbar>
<div class="my-container">
    <h2>Mobiscroll Version</h2><h3>5.0.0-beta3</h3>
    <h2>Ionic Version</h2>
    <h3>5.0.0</h3>
    <h2>Build Date</h2>
    <h3>{{buildDate | date}}</h3>
    <h2>© {{buildDate.getFullYear()}} Acid Media LLC</h2>
    <h3>
        More info on the
        <a href="#" onclick="window.open('https://mobiscroll.com/', '_system', 'location=yes')">Mobiscroll
            website</a>.
    </h3>
</div>